#### Note: Changes in Python Version 3
Unlike Codeacademy, Anaconda uses Python version 3.  There are a few syntax changes that we need to keep in mind when we shift from Codeacademy to Anaconda.

 1.	**print**: Use of parentheses is mandatory in Anaconda. *Codacademy : print “Hello” -->	Anaconda : print(“Hello”)*

 2.	**raw_input**: Just use input instead of raw_input. *Codacademy : raw_input(“Enter a sentence:”)     -->	Anaconda : input(“Enter a sentence :”)*

# Data Types and Structures

In this lesson we learn about the basic data types and data structures and play with them a little. Note that data types:

1. Defines the format by which you input data to a program, modify it and output it in the consol
2. Basic data types: integer, float, string and boolean 
3. Basic data structures: Lists, dictionaries, tuples etc

Note: Do not use keywords like "if", "return","None", "class" as variable names. These are reserved. https://realpython.com/lessons/reserved-keywords/

## Data Types
*Let us create an integer and string variable and see its output.*

In [2]:
integer = 99

print('This is an integer: ',integer )

This is an integer:  99

In [9]:
# Excercise 1a: intialize any string and print it 
string = 'poo'

print('this is a string ',string )

this is a string  poo

In [23]:
# Excercise 1b: Write the first error code. Intialize a variable with a restricted variable name.
class_ = 'poo'
print('this is a test: ',class_)


# class = 'poo'
# if = 'poo'
# return = 'poo'
# None= 'poo'
# -> these commands results in invalid syntax because those variable names are reserved and therefore can not be used as a varibale name

this is a test:  poo

### Some Simple Data Operations 

Most integer/floating point operators that you use in stata or other languages work in python as well - eg (+,-,*,/).

*Let us write a code to find the quotient and reminder of a number given a divisor. The operator '//' can be used to find the quotient and '%' can be used to find the reminder.*** can be used for exponential

In [24]:
number = 199
divisor = 10
rem = 199 % 10
quotient = 199 // 10
print('reminder = ', rem,'quotient = ', quotient)

googol = 10**100
print("Number greater than a googol : ",googol+1)

reminder =  9 quotient =  19
Number greater than a googol :  10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001

In [25]:
# Excercise 2a: Print the value of pi
print("pi ", 22/7)

pi  3.142857142857143

In [26]:
# Excercise 2b: See what happens when you try to devide by zero
print("pi ", 22/0)

ZeroDivisionError: division by zero

## Data Structures
Data structures combine the basic datatypes (integer, float, string, boolean) to create more complex types. There are several types of data structures but the most commonly used ones are "lists" and "dictionaries"

### Lists
We start with a list. A list is a sequence of integer / character data types.
Let us now create two list's one with only integer data "i_list" and the other with only character data "c_list".

In [27]:
c_list = ['day','month','year']

print('This is a char list: ',c_list )

This is a char list:  ['day', 'month', 'year']

The elements in the lists are numbered upwards from 0. Hence, we can access each element in the list using its index number. The following code prints the first element of c_list.

In [28]:
print('The first element is: ', c_list[0])

The first element is:  day

In [31]:
# Excercise 3a: Replicate the previous code using an integer list. I.e. create
# an integer list, print the full integer list and print the last element of 
# the integer list. 

i_list = [1,2,3,4]

print('This is an integer list: ',i_list )
print('The last element is: ',i_list[3])
print('The last element is: ',i_list[len(i_list)-1])

This is an integer list:  [1, 2, 3, 4]
The last element is:  4
The last element is:  4

In [35]:
# Excercise 3b: Create a list with both integer and string elements.
# Since the list has both integers and strings, does the list maintain 
# the integers as integer types or convert the integers to string ?

ci_list = [1,"day",2,"month",3]
print('this is a char & integer list: ',ci_list)
print('test ',ci_list[0]+ci_list[2])

## they remains the same

this is a char & integer list:  [1, 'day', 2, 'month', 3]
test  3

#### List Operations
Lists are mutable i.e. we can append, insert and delete elements from the list. 

some common list methods - 
1. appending elements to a list :  append(*data to be entered*), 
2. insert element to a list : insert(*index*, *data*),
3. delete an element from a list: del(*index*)

In [36]:
i_list = [1,2,3,4]

#find the number of elements of a list
print(len(i_list))
#*len is abbrev. of length

# Append the number 5 at the end
i_list.append(5)
print(i_list)

# Insert the 1.5 between 1 and 2
i_list.insert(1,1.5)
print(i_list)

#delete the number 1.5
del i_list[1]
print(i_list)

#delete the number between position 0 and 2
del i_list[0:2]
print(i_list)

#delete the entire list
del i_list[:]
print(i_list)

4
[1, 2, 3, 4, 5]
[1, 1.5, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[3, 4, 5]
[]

In [40]:
# Excercise 4: Replicate the previous code using an charater list. 

c_list = ['a','b','d','poo','e','f','g']

#find the number of elements of a list
print(len(c_list))


# Append the 'h' at the end
c_list.append('h')
print(c_list)

# Insert the 'c' between 'b' and 'd'
c_list.insert(2, 'c')
print(c_list)


#delete the string 'poo' from the list
del c_list[4]
print(c_list)


#delete the first three characters  i.e 'a', 'b', 'c'
del c_list[0:3]
print(c_list)



#delete the entire list
del c_list[:]
print(c_list)

7
['a', 'b', 'd', 'poo', 'e', 'f', 'g', 'h']
['a', 'b', 'c', 'd', 'poo', 'e', 'f', 'g', 'h']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['d', 'e', 'f', 'g', 'h']
[]

### String
Strings are used to input and read sentences and words. There are several operations that can be done on a string. 
1. Concatinating - We can use either "+" operator combine two strings. Join() can be used to combine a list of strings into a single string.

In [41]:
string = 'poonacha'
string = string + ' medappa' 
print(string)
print(string[0:3])

poonacha medappa
poo

1. split('*seperator*') - We can use the split() command to split a string into a list of smaller strings depending on a specified seperator 
2. Conversely, join('*seperator*') can be used to combine a list of strings into a single string using the seperator
3. If no seperator is specified, it assumes the seperator is a space or a tab
4. The input('*input message*') function is used to enter data from the consol

*Let us write a code to enter a sentence and split it into a list of words.*

In [42]:
s_input = input('Enter the sentence to be split: ')
words = s_input.split(' ')
print(words)
print(words[0])

Enter the sentence to be split: My name is Sheva
['My', 'name', 'is', 'Sheva']
My

In [44]:
# Excercise 5: Write a small code to enter a date in "dd/mm/yyyy" format. 
# Use the split() command to split the entered date into day, month and year. 
# Hint. you need to specify the seperater as '/' : .split('/')

s_input = input('Enter date in dd/mm/yyyy format')
words = s_input.split('/')
print(words)
print('Day: ',words[0], 'Month: ',words[1],'Year: ', words[2])

Enter date in dd/mm/yyyy format28/10/2001
['28', '10', '2001']
Day:  28 Month:  10 Year:  2001

### Dictionaries
A dictionary is similar to a list but rather than an index which represents each element, the dictionary uses a unique user defined key. The following code creates a dictionary by the name "dict_date" with three elements representing the current day, month and year.

In [14]:
dict_date = {'day' : 14 , 'month' : 3, 'year' : 2018} 
print('This is a dictionary: ',dict_date)
print('Today in dictionary is: day - ',dict_date['day'],' month - ',
      dict_date['month'],' year - ', dict_date['year'] )

This is a dictionary:  {'day': 14, 'month': 3, 'year': 2018}
Today in dictionary is: day -  14  month -  3  year -  2018

In [49]:
# Excercise 6: Create a dictionary that has the following information:
# name
# university
# program
# Print the information as My name is: <name>. I study at : <uni>. In the program : <prog>
dict_personal = {'name':'Sheva', 'university':'TiU','program':'Economics'}
print('This is a dictionary: ',dict_personal)
print('My name is: ',dict_personal['name'], 'I study at: ',dict_personal['university'],'In the program: ',dict_personal['program'])

This is a dictionary:  {'name': 'Sheva', 'university': 'TiU', 'program': 'Economics'}
My name is:  Sheva I study at:  TiU In the program:  Economics

### Mutable vs. Immutable
An immutable object (unchangeable object) is an object whose state cannot be modified after it is created. This is in contrast to a mutable object (changeable object), which can be modified after it is created. Strings and other concrete objects are typically expressed as immutable objects while lists are mutable.

In [50]:
#Immutable object example - string
a = "poo"
b = a
a = a+"nacha"

print(a)
print(b)

#Mutable object example - list
a = ["poo"]
b = a
a.append('nacha')

print(a)
print(b) 

# note the difference between string 'b' and list 'b'.

poonacha
poo
['poo', 'nacha']
['poo', 'nacha']

In [ ]:
# Excercise 7 : When would you use immutable objects vs. mutable objects ? 
##